.chat-window
  .left-navi
    .navi-top
      .current-user-name
        = current_user.name
      .navi-left-icon
        = link_to new_group_path do
          %i.fa.fa-edit
      .navi-right-icon
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
    .all-group-name
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group-name
              = group.name
            .group-text
              = group.latest_message
